@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html,
body {
  height: 92vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat:wght@300", sans-serif;
  background: red /* #f0f4fb */;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100%;
}

.product-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-image {
  object-fit: cover;
  height: 40%;
}

.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  min-width: 200px;
  min-height: 267px;
  background: white;
  align-items: center;
}

.product-content {
  position: relative;
  background-color: #333333;
  color: #f0f4fb;
  height: 60%;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.product-title {
  color: #f0f4fb;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.product-validity-date {
  position: absolute;
  bottom: 10px;
  /*Cuando usas position absolute, se centra con left y right en 0*/
  left: 0;
  right: 0;
}

.product-info {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}

#footer {
  flex-shrink: 0;
  background-color: #333333;
  color: #ffff;
}

#header {
  display: flex;
  height: 8vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  box-sizing: border-box;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 15px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#fort {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

#exit-button {
  padding: 9px 25px;
  margin-left: 15px;
  background-color: #0088a9;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

/* Login */
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 530px;
  background-color: seagreen;
  order: 1;
}

#prov-logo-img {
  display: flex;
  justify-content: flex-end;
  width: 910px;
  order: 2;
}
